
Include at least one element that is positioned absolutely, relatively and fixed
Create at least one CSS class that uses nested selectors
Create at least one CSS class that uses grouped selectors
Demonstrate the concepts of the “Box” model (margin, border, padding, content) at least once

.anchor{
  position: fixed;
  left: 100px;
  top: 150px;

}


.size{
  font-size: 25px;
}


.colour{
  color: red;

}


.case{
  text-transform: uppercase;
}

.font{
  font-family: Arial, Helvetica, sans-serif;
}
