.quote{
  text-align: right;
  font-size: 30;
}

.p{
  font-size: 14
  color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(36, 35, 35);
    color: rgb(63, 252, 63);
}
.container{
    width: 400px;
    height: 400px;
    background: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:  rgb(63, 252, 63) 10px solid;
}
/* Creating the class for our animation which we will add after in JavaScript.
.animate{
    border:  rgb(245, 39, 32) 10px solid;
}
/* Styling the time */
.container h1{
    font-weight: 900;
    font-size: 60px;
}
