body{
	color:white;
	background-color:black;
	position: fixed;
}


#wrapper{
	width:750px;
	height: 575px;
	margin: 0,auto;
	background-color:white;
	align-content: center;
}

#header{
	height:50px;
	width: 740px;
	background-color: red;
	text-align:center;
	border-top: 50px;
	padding: 5px;

}

#leftbody{

	width:750px;
	height: 400px;
	background-color:green;

}

#bottom{
	height:50px;
	width: 740px;
	background-color: blue;
	margin-bottom: 50px;
	clear:both;
	padding: 5px;


}
